WebApplication4/Web References/datalistServiceReference/AdminPageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProductDisplay">
        <s:complexType />
      </s:element>
      <s:element name="GetProductDisplayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDisplayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductDisplaySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDisplay" />
  </wsdl:message>
  <wsdl:message name="GetProductDisplaySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDisplayResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminPageServiceSoap">
    <wsdl:operation name="GetProductDisplay">
      <wsdl:input message="tns:GetProductDisplaySoapIn" />
      <wsdl:output message="tns:GetProductDisplaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminPageServiceSoap" type="tns:AdminPageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductDisplay">
      <soap:operation soapAction="http://tempuri.org/GetProductDisplay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminPageServiceSoap12" type="tns:AdminPageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductDisplay">
      <soap12:operation soapAction="http://tempuri.org/GetProductDisplay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminPageService">
    <wsdl:port name="AdminPageServiceSoap" binding="tns:AdminPageServiceSoap">
      <soap:address location="http://localhost:60169/AdminPageService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminPageServiceSoap12" binding="tns:AdminPageServiceSoap12">
      <soap12:address location="http://localhost:60169/AdminPageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>